<div class="slide-out-bg"></div>

<div class="slide-out">
  {{#link-to "book" class="btn-back"}}
    <span class="sr-only">Back</span>
  {{/link-to}}

  <div class="slide-out-heading">
    <div class="title">
      <h3>New Book</h3>
    </div>

    <div class="slide-out-content">
      <form onsubmit={{action "saveBook"}}>
        <div class="field">
          <label>Title:</label>
          {{input type="text" placeholder="title" value=model.title}}
        </div>
        <div class="field">
          <label>ISBN:</label>
          {{input type="text" placeholder="isbn" value=model.isbn}}
        </div>
        <div class="field">
          <label>Publish date:</label>
          {{input type="date" placeholder="Publish Date" value=model.publishDate}}
        </div>

        <div class="field">
          <label>Author:</label>
          <p class="control">
            {{#power-select
              onchange=(action (mut model.author))
              selected=model.author
              search=(action "searchAuthor")
              triggerClass="power-selected-element"
            as |author|
            }}
              {{author.last}}, {{author.first}}
            {{/power-select}}
          </p>
        </div>

        <div class="form-footer">
          <button type="submit" class="btn-submit">save</button>
        </div>
      </form>
    </div>
  </div>
</div>